<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
        </div>
        
        <div class="col-sm-6">
            <h3>{{ title }}</h3>
        </div>
    
        <div class="col-sm">
        </div>

        <div class="row ">
            <div class="col-sm"></div>

            <div class="col-sm-6">
                <ul>
                    <li *ngFor='let user of users'>{{user.id}} - {{user.userName}}</li>
                </ul>
            </div>

            <div class="col-sm"></div>
        </div>
    </div>
</div>